{% extends 'base.html' %}
{% load static %}

{% block about %}

<div class="container my-4">
  <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">It all started with Organic Food idea. <span class="text-muted">It’s blow your mind.</span></h2>
        <p class="lead">Organic food are I high demand and its a future. Start an organic food business & make high profit Surely you’ve heard about organic foods and possibly tasted some too. Nowadays, most brick-and-mortar stores sell organic foods and some even have a separate section for the stuff. In fact, organic food businesses are the fastest-growing culinary trend worldwide.</p>
      </div>
      <div class="col-md-5">
          <img class=" bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="{% static 'organicfoodapp/img/img3.jpg' %}" alt="">
      </div>
    </div>
    <div class="container my-4">
    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1">We started Organic Food. <span class="text-muted">It’s blow your mind.</span></h2>
        <p class="lead">Organic food's public profile surged in the early 2000s as consumers began to see the connection between diet, health and the environment. As shoppers today turn to clean labels and demand transparency in the foods they eat and the beverages they drink, organic is ideally positioned to address these concerns while providing growth in an industry that desperately needs it.</p>
      </div>
      <div class="col-md-5 order-md-1">
          <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="{% static 'organicfoodapp/img/image 8.jpg' %}" alt="">
      </div>
    </div>
    <div class="container my-4">
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">The best Organic Food idea. <span class="text-muted">It’s blow your mind.</span></h2>
        <p class="lead">Organic food are I high demand and its a future. Start an organic food business & make high profit Surely you’ve heard about organic foods and possibly tasted some too. Nowadays, most brick-and-mortar stores sell organic foods and some even have a separate section for the stuff. In fact, organic food businesses are the fastest-growing culinary trend worldwide. </p>
      </div>
      <div class="col-md-5">
          <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="{% static 'organicfoodapp/img/image 9.jpg' %}" alt="">
      </div>
    </div>
</div>


{% endblock %}
