{% extends 'base.html' %}
{% load static %}

{% block service %}

<div class="container my-4">
  <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">Food Catering.<span class="text-muted"></span></h2>
        <p class="lead">It is heartening to see that the organic food industry is steadily growing in India, though still at a developing stage. Starting with organic tea, coffee and spices, it’s now grown to encompass organic flour, breakfast cereals, clarified butter, fruits, vegetables, milk, honey and others. According to a Yes Bank report released, the market for organic food products in India grew at 20-22% CAGR to be around INR10 billion in 2012.</p>
      </div>
      <div class="col-md-5">
          <img class=" bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="{% static 'organicfoodapp/img/food catering.jpg' %}" alt="">
      </div>
    </div>
    <div class="container my-4">
    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1">Bulk Ordering. <span class="text-muted"></span></h2>
        <p class="lead">It’s no secret that the organic food industry is growing at a fast pace thanks to consumers who are becoming more conscious of what they eat every day. Organic food stores are popping up all over the place and all over the internet, not only offering us healthy and eco-friendlier alternatives for our pantry, but also featuring an old practice that had been fading over the years: buying in bulk.</p>
      </div>
      <div class="col-md-5 order-md-1">
          <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="{% static 'organicfoodapp/img/1000_F_273386012_jB6lIXQod9voSsBkAjVsZnA1DAAdctvC.jpg' %}" alt="">
      </div>
    </div>
    <div class="container my-4">
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">Food Ordering. <span class="text-muted"></span></h2>
        <p class="lead">Organic fruits and vegetables are alive, unlike conventional ones which are coated with waxes and sprayed with chemicals, basically mummifying them. We treat nature as it should be - to allow us to provide the freshest possible produce free from harmful pesticides and chemicals, that disrupt our physical health and mental wellbeing. </p>
      </div>
      <div class="col-md-5">
          <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="{% static 'organicfoodapp/img/istockphoto-901653798-1024x1024.jpg' %}" alt="">
      </div>
    </div>
    <div class="container my-4">
      <div class="row featurette">
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading fw-normal lh-1">Food Delevery. <span class="text-muted"></span></h2>
          <p class="lead">The best organic meal delivery services source the highest percentage of organic ingredients without compromising other important aspects of your eating experience. Meal delivery is largely a logistics business. What good is organic if prices are sky high and the supply chain can’t deliver your meals on time? It’s a tricky balance to strike, but we think we found the services that pull it off.</p>
        </div>
        <div class="col-md-5 order-md-1">
            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="{% static 'organicfoodapp/img/food 5.jpg' %}" alt="">
        </div>
      </div>
</div>



{% endblock  %}